*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background: linear-gradient(to top, #d9dbd4 ,#d9dbd4 80% , #019788 20%);
  font-family: 'Raleway', sans-serif;
}

.container{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height:90vh;
  margin-top:30px;
  margin-bottom:0px;
  display: flex;
  min-width: 800px;
}

.leftSide{
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 100%;
  min-width: 30vw;
}

.rightSide{
  display: flex;
  flex-direction: column;
  width: 60vw;
  height:100%;
  background-image: url('../img/mine.jpg');
  position: relative;
  min-width: 30vw;
}

.userName ,.notifiche ,.contactMain, .contacts{
  display: flex;
  height: 80px;
  align-items:center;
  width: 100%;
}

.contacts {
  border-bottom: 1px solid lightgrey;
}

.userName {
  border-right: 1px solid lightgrey;
}

.iconUserName{
  display:flex;
  justify-content: flex-end;
  width:60%;
}

.iconUserName > i{
  margin:5px;
}

.contactProfile h5 {
  font-weight: lighter;
  color: grey;
  width: 100%;
}

.notifiche > i{
  margin-left: 15px;
  font-size: 2rem;
  background-color: #fff;
  padding: 10px;
  border-radius:50%;
  color: #9fdaf9
}

.notifiche > .notificheBell{
  margin-left:10px;
}

.notificheBell a {
  color: grey;
}

.styleImg > img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right:5px;
  margin-left:5px;
}

.chats{
  overflow-y: scroll;
}

.searchChat{
  height:40px;
  display: flex;
  border:1px solid #ebebeb;
  align-items:center;
  justify-content: center;
  padding: 10px;
}

.searchChat > input {
  width: 100%;
  padding: 10px;
  margin-right:5px;
  height:30px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px;
}

.searchChat > i {
  padding: 10px;
  min-width: 40px;
  background-color: #fff;
  height:30px;
  margin-left:5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  align-items:center;
  justify-content: center;
  display: flex;
}

.contactIcon{
  display:flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 70%;
}

.contactIcon > i{
  margin:5px;
}

.writing{
  height:80px;
  width:100%;
  border: 1px solid #ebebeb;
  position: absolute;
  bottom: 0;
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}

.writing > input{
  height:50px;
  font-size:1rem;
  width: 80%;
  border: none;
  padding: 15px;
  border-radius: 5px;
}

.writing > i {
  font-size: 1.5rem;
  margin: 15px;
}

/* backgrounds */

.bkgrLightgrey{
  background-color: #ebebeb
}

.bkgrBlue{
  background-color: #9fdaf9;
}

.bkgrWhite{
  background-color: #fff;
}

.bkgrBeige{
  background-color: #f3efec
}

.colorIconUp{
  color: #b3b3b3;
}

.colorIconDown{
  color:#636363;
}
