<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>BoolzApp</title>
  </head>
  <body>
    <div class="container" id="myBoolzapp">
       <div class="leftSide bkgrWhite">
         <div class="userName styleImg bkgrLightgrey">
           <img :src="userName.image" alt="foto">
           <h4>{{userName.nome}}</h4>
           <div class="iconUserName colorIconUp">
             <i class="fas fa-circle-notch"></i>
             <i class="fas fa-comment-alt"></i>
             <i class="fas fa-ellipsis-v"></i>
           </div>
         </div>
         <div class="notifiche bkgrBlue" v-if='notificheActive'>
           <i class="fas fa-bell-slash"></i>
           <div class="notificheBell">
             <h4>{{notificheStatus[0].title}}</h4>
             <a href="#" @click='notificheOn'>{{notificheStatus[0].status}}</a>
           </div>
         </div>
         <div class="notifiche bkgrBlue" v-else>
           <i class="fas fa-bell"></i>
           <div class="notificheBell">
             <h4>{{notificheStatus[1].title}}</h4>
             <a href="#" @click='notificheOff'>{{notificheStatus[1].status}}</a>
           </div>
         </div>
         <div class="searchChat bkgrLightgrey colorIconUp">
           <i class="fas fa-search"></i>
           <input v-model="search" type="text" name="" size="30px" value="" placeholder="search contact">
         </div>
         <div class="chats">
           <div style="cursor:pointer;" @click='selected(i)'  v-for='(el ,i) in filteredContacts'>
             <div class="contacts styleImg">
              <img :src="el.image" alt="profile pic">
              <h3>{{el.name}}</h3>
             </div>
           </div>
         </div>
       </div>
       <div class="rightSide">
         <div class="contactMain bkgrLightgrey">
           <div class=" styleImg">
             <img v-bind:src="filteredContacts[currentIndex]['image']" alt="profile pic">
           </div>
           <div class="contactProfile">
             <h3>{{filteredContacts[currentIndex]['name']}}</h3>
             <h5>ultimo accesso alle {{filteredContacts[currentIndex]['lastChat']}}</h5>
           </div>
           <div class="contactIcon colorIconUp">
             <i class="fas fa-search"></i>
             <i class="fas fa-paperclip"></i>
             <i class="fas fa-ellipsis-v"></i>
           </div>
         </div>
         <div class="chatBox">
            <div class="messages" v-for='contatto in filteredContacts[currentIndex].convertation' :class="{'f-end': contatto.type === 'sent'}">
              <div class="message" :class="contatto.type === 'sent'? 'bkgrWhite' : 'bkgrLightGreen' ">
                <span> {{contatto.text}} </span>
                <div class="hourMessage ">
                  <span> {{contatto.date}}</span>
                </div>
             </div>
           </div>
         </div>
         <div class="writing bkgrBeige colorIconDown">
           <i class="far fa-smile"></i>
           <input type="text" placeholder="type a message..." name="" value="" v-model='myInput' v-on:keyup.enter="sendMessage">
           <i class="fas fa-microphone"></i>
         </div>
       </div>
     </div>

   <script src="js/vue.js" charset="utf-8"></script>
  </body>
</html>
